parameters:
    bootstrapFiles:
        - %currentWorkingDirectory%/app/bootstrap.php
    paths:
        - %currentWorkingDirectory%/app

includes:
    - ../default.neon
    - ../../includes/nette-app/symfony_console_application.php
#    - ../../includes/nette-app/traits.php
