parameters:
    bootstrapFiles:
        - %rootDir%/../../efabrica/phpstan-config/includes/nette-app/bootstrap.php
    paths:
        - %currentWorkingDirectory%/app
    latte:
        presenterFactoryBootstrap: %rootDir%/../../efabrica/phpstan-config/includes/nette-app/presenter_factory.php
#        reportUnanalysedTemplates: true # for testing purpose
        macros:
            - Efabrica\NeoForms\NeoFormExtension::install
            - Efabrica\NeoForms\DI\NeoFormMacroSet::install
            - Efabrica\Cms\Core\Macro\NotcmsMacroSet::install
            - Tomaj\NetteApi\Link\ApiLinkMacro::install
        extensions:
            - Efabrica\NeoForms\DI\NeoFormLatteExtension()
        tmpDir: %currentWorkingDirectory%/temp/phpstan-latte
        collectedPaths:
            - %currentWorkingDirectory%/vendor/notcms/
            - %currentWorkingDirectory%/vendor/efabrica/
        errorPatternsToIgnore:
            - '/Instanceof between Efabrica\\NeoForms\\Build\\NeoForm and Efabrica\\NeoForms\\Build\\NeoFormControl will always evaluate to false\./'
            - '/Cannot resolve latte template for (.*?)::renderPlugin\(\)\./'
        warningPatterns:
            - '/Cannot automatically resolve latte template from expression\./'
            - '/Cannot resolve rendered latte template\./'
            - '/Cannot resolve included latte template\./'
            - '/Rendered latte template default\.latte does not exist\./'
        features:
            transformDynamicFormControlNamesToString: true

services:
    - Efabrica\PhpstanConfig\NotCms\GlobalPluginsLoader(%rootDir%/../../efabrica/phpstan-config/includes/nette-app/bootstrap.php)

    # NotCMS plugin resolvers
    - Efabrica\PhpstanConfig\LatteTemplateResolver\NotCmsMultiTemplatePluginLatteTemplateResolver(%rootDir%/../../efabrica/phpstan-config/includes/nette-app/bootstrap.php)

    # Component collectors
    - Efabrica\PhpstanConfig\LatteContext\Collector\ComponentCollector\GridComponentCollector
    - Efabrica\PhpstanConfig\LatteContext\Collector\ComponentCollector\GlobalPluginComponentCollector

    # TemplatePathCollector for plugins
    - Efabrica\PhpstanConfig\LatteContext\Collector\TemplatePathCollector\PluginTemplateFilePathCollector

includes:
    - ../default.neon
    - ../../includes/nette-app/symfony_console_application.php
#    - ../../includes/nette-app/traits.php
    - ../../includes/nette-app/filters.php
    - ../../includes/nette-app/variables.php
