parameters:
    level: 1

includes:
    - default.neon
    - ../../includes/strict-rules/level.1.neon
    - ../../includes/conditional-phpstan.php
    - ../../includes/conditional-phpstan-latte.php
    - ../../includes/phpstan-latte-command.php
