parameters:
    level: 8

includes:
    - default.neon
    - ../../includes/strict-rules/level.8.neon
    - ../../includes/conditional-phpstan.php
    - ../../includes/conditional-phpstan-latte.php
    - ../../includes/phpstan-latte-command.php
