parameters:
    level: 9

includes:
    - default.neon
    - ../../includes/strict-rules/level.9.neon
    - ../../includes/conditional-phpstan.php
    - ../../includes/conditional-phpstan-latte.php
    - ../../includes/phpstan-latte-command.php
