parameters:
    customRulesetUsed: true
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

includes:
    - ../includes/conditional-phpstan.php
