parameters:
    customRulesetUsed: true
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    stubFiles:
        - ../stubs/Database/Table/Selection.stub
