parameters:
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true

includes:
    - ../../../phpstan/phpstan/conf/bleedingEdge.neon
    - ../../../phpstan/phpstan-strict-rules/rules.neon
    - ../../../phpstan/phpstan-deprecation-rules/rules.neon
    - ../../../pepakriz/phpstan-exception-rules/extension.neon
