parameters:
    customRulesetUsed: true
    inferPrivatePropertyTypeFromConstructor: true

includes:
    - ../../../../phpstan/phpstan-nette/extension.neon
    - ../../../../phpstan/phpstan-nette/rules.neon
