parameters:
    stubFiles:
        - ../../stubs/Database/Table/Selection.stub

includes:
    - ../default.neon
    - ../../../../phpstan/phpstan-nette/extension.neon
    - ../../../../phpstan/phpstan-nette/rules.neon
